<div class="div_body" [ngStyle]="{'background': '#fff center/100% url(' + bgImgURL + ') no-repeat'}">

  <div class="auth-form">
    <mat-grid-list cols="12" rowHeight="1:1" >
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field class="input">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="usernameTxt">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field class="input">
          <mat-label>Correo</mat-label>
          <input matInput type="text" [(ngModel)]="correoTxt" [errorStateMatcher]="matcher">
          <mat-hint>Errors appear instantly!</mat-hint>
          <!--@if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }-->
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field class="input">
          <mat-label>Contraseña</mat-label>
          <input matInput type="text" [(ngModel)]="passTxt">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="1">
        <mat-form-field class="input">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="text" [(ngModel)]="confirmPassTxt">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="12" rowspan="1">
        <button mat-raised-button color="primary" (click)="createBtn()">Crear cuenta</button>
        <button mat-raised-button (click)="loginBtn()">Ya tengo cuenta</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
