<div class="div_body" [ngStyle]="{'background': '#fff center/100% url(' + bgImgURL + ') no-repeat'}">

  <div class="auth-form">
    <mat-grid-list cols="12" rowHeight="1:1.3" >
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <mat-grid-tile colspan="6">
        <mat-form-field class="input" subscriptSizing="dynamic">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="usernameTxt" [formControl]="userFormControl" [errorStateMatcher]="matcher">
          @if (userFormControl.hasError('required')) {
            <mat-error>El Usuario es <strong>requerido</strong>.</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <mat-grid-tile colspan="6" >
        <mat-form-field class="input" subscriptSizing="dynamic">
          <mat-label>Correo</mat-label>
          <input matInput type="text" [(ngModel)]="correoTxt" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Por favor, ingrese un correo válido.</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>El correo es <strong>requerido</strong>.</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
      </mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <mat-grid-tile colspan="6" >
        <mat-form-field class="input" subscriptSizing="dynamic">
          <mat-label>Confirmar correo</mat-label>
          <input matInput type="text" [(ngModel)]="confirmCorreoTxt" [formControl]="confirmEmailFormControl" [errorStateMatcher]="matcher">
          @if (confirmEmailFormControl.hasError('emailMatch') && !emailFormControl.hasError('required')) {
            <mat-error>Los correos no coinciden</mat-error>
          }
          @if (confirmEmailFormControl.hasError('required')) {
            <mat-error>La confirmación de correo es <strong>requerido</strong>.</mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
      </mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <mat-grid-tile colspan="6" >
        <mat-form-field class="input" subscriptSizing="dynamic">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="passwordTypeTxt ? 'password' : 'text'" [(ngModel)]="passTxt" [formControl]="passFormControl" [errorStateMatcher]="matcher" matTooltip="Info about the action" >
          @if (passTxt) {
            <button matSuffix mat-icon-button aria-label="Ver" (click)="passwordTypeTxt=!passwordTypeTxt">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          }
          @if (passFormControl.hasError('pattern') && !passFormControl.hasError('required')) {
            <mat-error>Debe tener mínimo 8 caracteres, al menos una mayúsucula, una minúsucula, un número y un caracter especial.</mat-error>
          }
          @if (passFormControl.hasError('required')) {
            <mat-error>La contraseña es <strong>requedira</strong>.</mat-error>
          }
        </mat-form-field>

      </mat-grid-tile>
      <mat-grid-tile colspan="3">
      </mat-grid-tile>
      <mat-grid-tile colspan="3"></mat-grid-tile>
      <mat-grid-tile colspan="6" >
        <mat-form-field class="input" subscriptSizing="dynamic">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="confirmPasswordTypeTxt ? 'password' : 'text'" [(ngModel)]="confirmPassTxt" [formControl]="confirmPassFormControl" [errorStateMatcher]="matcher">
          @if (confirmPassTxt) {
            <button matSuffix mat-icon-button aria-label="Ver" (click)="confirmPasswordTypeTxt=!confirmPasswordTypeTxt">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          }
          @if (confirmPassFormControl.hasError('passwordMatch') && !confirmPassFormControl.hasError('required')) {
            <mat-error>Las contraseñas no coinciden</mat-error>
          }
          @if (confirmPassFormControl.hasError('required')) {
            <mat-error>La confirmación de contraseña es <strong>requerida</strong></mat-error>
          }
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
      </mat-grid-tile>
      <mat-grid-tile colspan="12" >
        <button mat-raised-button color="primary" (click)="createBtn()" [disabled]="!registerform.valid">Crear cuenta</button>
        <button mat-raised-button (click)="loginBtn()">Ya tengo cuenta</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
